<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Fresh Start Juice Co. </title>
    <link href="https://fonts.googleapis.com/css?family=Philosopher" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Philosopher" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Harmattan|Oswald|Ubuntu+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    

    @Styles.Render("~/Content/css")
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/modernizr")


</head>




<body class="font">

    <div class="navbar navbar-inverse navbar-fixed-top " style="padding-top:5px;padding-bottom:5px; margin-bottom:0px;">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img src="~/Content/Images/small-logo.png" />
            
                @Html.ActionLink("Fresh Start Juice Co", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navstyle" })
            
           

             
        </div>



        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">

                <li>@Html.ActionLink("About Us", "About", "Home")</li>
               
                <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
              </ul>

            <ul class="nav navbar-nav navbar-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Logout", "Index", "Home")</li>
                }
                <li>

                    <a href="/cart">
                        <span class="badge">@(ViewBag.ItemsInCart ?? 0)</span>
                        <i class="fa fa-shopping-cart" style="color:limegreen; font-size:1.9em; padding-right:25px" aria-hidden="true"></i>

                    </a>
                </li>
               
            </ul>
            @*@if (User.Identity.IsAuthenticated)
        {
            <li>@Html.ActionLink("Logout as " + User.Identity.Name, "Logout", "Account")</li>
        }
        else
        {
            <li>@Html.ActionLink("Login", "Login", "Account")</li>
            <li>@Html.ActionLink("Register", "Register", "Account")</li>
        }*@


            @*<div class="nav navbar-nav navbar-right">
            <a href="/cart"><span class="badge">@(ViewBag.ItemsInCart ?? 0)</span><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>
            @if (User.Identity.IsAuthenticated)
            {
                <li>@Html.ActionLink("Logout as " + User.Identity.Name, "Logout", "Account")</li>
            }
            else
            {
                <li>@Html.ActionLink("Login", "Login", "Account")</li>
                <li>@Html.ActionLink("Register", "Register", "Account")</li>
            }
        </div>*@




            
            
        </div>

        



        

    </div>






    @RenderBody()


    <footer class="wrapper" >
        <div class="container-fluid " style="margin-top:100px">
            <div class="row">
                <div class="col-sm-4" >
                    @Html.ActionLink("Contact", "Contact", "Home") <br>
                    @Html.ActionLink("About Us", "About", "Home")<br>
                    @Html.ActionLink("Locations", "Home", "Home")<br>
                    @Html.ActionLink("Delivery Area", "Home", "Home")<br>
                    @Html.ActionLink("Membership Info", "MembershipInfo", "Home")
                    @Html.ActionLink("Products", "Index", "Products")


                </div>


                <div class="col-sm-4">
                    <strong>Fresh Start Juice Co.</strong><br>
                    426 West Briar Place<br>
                    Chicago, IL 60657<br>
                    <abbr title="Phone">P:</abbr> 708-705-2892
                </div>





                <div class="col-sm-4">
                    <address>
                        <strong>Fresh Start Juice Co</strong><br>
                        <a href="mailto:#">info@freshstartjuiceco.com</a>
                    </address>
                </div>


                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>

            </div>
        </div>


    </footer>
    <script src="~/Scripts/myapp.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
   
    @RenderSection("scripts", required: false)

  
   
  
</body>
</html>



