<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Fresh Start Juice Co. </title>
    <link href="https://fonts.googleapis.com/css?family=Philosopher" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Grand+Hotel|Philosopher" rel="stylesheet">

   <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
   
</head>




<body class="font">
    
        <div class="navbar navbar-inverse navbar-fixed-top " style="padding-top:5px;padding-bottom:5px;">


            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Images/small-logo.png"  />
                @Html.ActionLink("Fresh Start Juice Co", "Index", "Home", new { area = "" }, new { @class = "navbar-brand navstyle" })
            </div>

           
     
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Membership Info", "MembershipInfo", "Home")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Sign Up", "Register", "Account")</li>
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                </ul>
            </div>

            @*<div class="nav navbar-nav navbar-right">
                <a href="/cart"><span class="badge">@(ViewBag.ItemsInCart ?? 0)</span><span class="glyphicon glyphicon-shopping-cart"></span>Cart</a>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Logout as " + User.Identity.Name, "Logout", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Login", "Login", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                }
            </div>*@


        </div>



   
    

        @RenderBody()

    
    <footer >
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    @Html.ActionLink("Contact", "Contact", "Home") <br>
                    @Html.ActionLink("About Us", "About", "Home")<br>
                    @Html.ActionLink("Locations", "Home", "Home")<br>
                    @Html.ActionLink("Delivery Area", "Home", "Home")<br>

                </div>


                <div class="col-sm-4">
                    <strong>Fresh Start Juice Co.</strong><br>
                    426 West Briar Place<br>
                    Chicago, IL 60657<br>
                    <abbr title="Phone">P:</abbr> 708-705-2892
                </div>





                <div class="col-sm-4">
                    <address>
                        <strong>Fresh Start Juice Co</strong><br>
                        <a href="mailto:#">info@freshstartjuiceco.com</a>
                    </address>
                </div>

               
                    <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
               
            </div>
        </div>
        

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)

</body>
</html>
