@model EricaStore.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}

<div class="container-fluid" style="margin-top:100px">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
        

    <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom"><strong> Register </strong></div>
        <div class="panel-body">





            <div class="form-group">
                @Html.LabelFor(x => x.EmailAddress, new { @class = "control-label" })
                @Html.TextBoxFor(x => x.EmailAddress, new { @class = "form-control", placeholder = "@youremail.com" })
                @Html.ValidationMessageFor(x => x.EmailAddress)
            </div>



            <div class="form-group">
                @Html.LabelFor(x => x.Password, new { @class = "control-label" })
                @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(x => x.Password)

            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control", placeholder = "Password" })
                @Html.ValidationMessageFor(x => x.ConfirmPassword)

            </div>


            <div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>

    }


</div>