@model EricaStore.Models.StudentModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit:@Html.DisplayFor(x => x.FirstName) @Html.DisplayFor(x => x.LastName)</h2>

@using (Html.BeginForm())

{


    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.LastName, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.FavoriteFood, new { @class = "form-label" })
        @Html.TextBoxFor(x => x.FavoriteFood, new { @class = "form-control" })


    </div>

    @Html.HiddenFor(x => x.ID)
    <input type="submit" class="btn btn-default" />
}





    @*<input type="text" name="FirstName" value= "@Model.FirstName" />
    <input type="text" name="LastName" value= "@Model.LastName" />
    <input type= "text" name= "FavoriteFood" value="@Model.FavoriteFood" />
    <input type="hidden" id="ID" value="@Model.ID" />
    <input type="submit" />*@



